@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Acme&family=Allerta+Stencil&family=Paytone+One&family=Russo+One&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Allerta Stencil", sans-serif;
}

body {
    background-color: darkgray;
}

.nextButton img {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.5;
    width: 39px;
}

.nextButton img:hover {
    opacity: 1;
    transition: 0.3s;
}

section.banner {
    width: 75%;
    margin: 25px auto 0 auto;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    background: linear-gradient(to bottom left, #006399, #993300);
    box-shadow: 1px 1px 10px 6px rgba(255, 255, 255, 0.507);
    flex-wrap: wrap;
}

.personal h2 {
    font-size: 50px;
    color: whitesmoke;
}

.personal h3 {
    font-size: 20px;
    color: whitesmoke;
}

.sosmed {
    margin-top: 25px;
}

.sosmed ul li {
    list-style: none;
    color: whitesmoke;
    font-size: 15px;
    padding: 5px 10px;
}

.iconify {
    margin-right: 10px;
}

.icon img {
    width: 40px;
    margin-top: 15px;
    margin-right: 10px;
}

.garis {
    height: 270px;
    width: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.foto img {
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.507);
}

section.deskBanner {
    width: 70%;
    background-color: #eaeaea;
    margin: 30px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 10px 6px rgba(95, 95, 95, 0.466);
}

section.deskBanner p {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}

.deskButton {
    text-align: center;
    margin-top: 20px;
}

.deskButton a {
    text-decoration: none;
    background-color: yellowgreen;
    font-size: 15px;
    text-transform: uppercase;
    padding: 5px 7px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    background: linear-gradient(to bottom left, #006399, #993300);
}

.deskButton a:hover {
    background: linear-gradient(to bottom, rgb(67, 145, 168), rgb(146, 2, 2));
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px black;
    transition: 1s;
    padding: 10px 15px;
}

/* -------------Responsive breakpoint--------- */
@media (max-width: 576px) {
    section.banner {
        width: 85%;
        padding-top: 25px;
        justify-content: center;
    }
    .foto img {
        margin-top: 35px;
    }
    .personal h2 {
        font-size: 40px;
        text-align: center;
    }
    .personal h3 {
        font-size: 15px;
        text-align: center;
        margin-top: 5px;
    }
    .sosmed ul li {
        font-size: 12px;
    }
    .icon img {
        width: 30px;
    }
    .icon {
        display: flex;
        justify-content: center;
    }
    .garis {
        display: none;
    }
    section.deskBanner {
        width: 82%;
        padding: 10px 15px 10px 15px;
    }
    section.deskBanner p {
        font-size: 12.5px;
        line-height: 22px;
    }
    .deskButton {
        margin-top: 5px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .deskButton a {
        width: 100%;
        font-size: 12px;
        margin-top: 7px;
    }
}

@media (max-width: 768px) {
    section.banner {
        width: 90%;
    }
    section.deskBanner {
        width: 85%;
    }
    .foto img {
        width: 200px;
    }
}
